
USE [QLHV_C]
-------------------
--view structure of table.
select COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH 
	from information_schema.columns where table_name = 'GiaoVien'
--insert values
SET DATEFORMAT DMY
GO
INSERT [dbo].[GiaoVien] ([MaGV], [HoTen], [NgaySinh], [DiaChi]) 
	VALUES (N'GV001', N'Trần Thanh', '01/02/1959', N'12/4 Trần Bình Trọng, Quận 1, HCM'),
			(N'GV002', N'Nguyễn Nam', '02/4/1960', N'30 Điện Biên Phủ, Quận 1, HCM'),
			(N'GV003', N'Hồ Nhân', '15/8/1960', N'123 Hồ Quý Cáp, Quận 1, HCM'),
			(N'GV004', N'Dương Hùng', '03/3/1958', N'23 Hai Bà Trưng, Hà Nội'),
			(N'GV005', N'Lê Thương', '05/7/1965', N'61/4 Huỳnh Mẫn Đạt, Biên Hoà, Đồng Nai')
GO
SELECT * FROM QLHV_C.dbo.GiaoVien
-------------------
--view structure of table.
select COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH 
	from information_schema.columns where table_name = 'KhoaHoc'
--insert values
SET DATEFORMAT DMY
GO
INSERT [dbo].[KhoaHoc] ([MaKH], [TenKH], [BatDau], [KetThuc]) 
	VALUES (N'PE010918', N'Tiếng anh (Pronunciation 1)', '01/9/2018', '01/10/2018'),
			(N'PE020918', N'Tiếng anh (Pronunciation 2)', '15/9/2018', '15/10/2018'),
			(N'RE010918', N'Tiếng anh (Reading 1)', '01/9/2018', '01/10/2018'),
			(N'RE020918', N'Tiếng anh (Reading 2)', '15/9/2018', '15/10/2018')
GO
SELECT * FROM QLHV_C.dbo.KhoaHoc
-------------------
--view structure of table.
select COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH 
	from information_schema.columns where table_name = 'HocVien'
--insert values
SET DATEFORMAT DMY
GO
-------------------
--view structure of table.
select COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH 
	from information_schema.columns where table_name = 'LopHoc'
--insert values
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKH], [MaGV], [SiSoDK], [LopTruong], [PHoc]) 
	VALUES(N'LPE0101', N'Tiếng anh Phát âm 1-1', N'PE010918', 'GV001', 10, N'2', N'A101'),
			(N'LPE0201', N'Tiếng anh Phát âm 2-1', N'PE020918', 'GV002', 10, N'3', N'A201'),
			(N'LPE0202', N'Tiếng anh Phát âm 2-2', N'PE020918', 'GV003', 20, N'7', N'A202'),
			(N'LRE0101', N'Tiếng anh Đọc 1-1', N'RE010918', 'GV004', 15, NULL, N'A203'),
			(N'LRE0201', N'Tiếng anh Đọc 2-1', NULL, NULL, NULL, NULL, NULL)
-------------------
--view structure of table.
select COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH 
	from information_schema.columns where table_name = 'BienLai'
--insert values
GO
