USE master
GO
USE QLHV
GO
--: Cho biết danh sách các bảng đã được khai báo trong DB QLHV.
SELECT *
	FROM QLHV.INFORMATION_SCHEMA.TABLES
		
--: Cho biết danh sách các cột đã được khai báo trong bảng GiaoVien.
select * from INFORMATION_SCHEMA.COLUMNS where table_name = 'GiaoVien'

--: Cho biết dữ liệu hiện có trong bảng BienLai
select * from ...

--:1 Cho biết dữ liệu hiện có trong bảng GiaoVien


--:5 Cho biết thông tin của giáo viên có mã số giáo viên là GV001.


--:10 Cho biết thông tin về các biên lai đã lập cho lớp có mã số LPE0101


--:12 thêm 1 gv mới với dữ liệu gồm ('GV006', N'Lan Ngọc', '20/3/1960',NULL)


--:14 Cho biết thông tin của giáo viên sinh vào tháng 3 năm 1960


--:15 Cho biết Mã học viên, họ tên và ngày sinh của các học viên tên là Hương


--:20 Cho biết thông tin của giáo viên có họ Lê

--:38 Cho biết điểm số cao nhất mà học viên đạt được tại trung tâm


--:43 Cho biết mã lớp học và điểm số cao nhất mà học viên đạt được trong từng lớp.


--:48 Cho biết tên lớp học, số lượng học viên xếp loại khá giỏi của từng lớp
